server {
	listen 80;
	listen 443 ssl;
	server_name dev.local;
	root {{ axelitus_nginx_publish_path }};

	access_log {{ axelitus_nginx_log_path }}/dev-access.log;
	error_log {{ axelitus_nginx_log_path }}/dev-error.log error;

	ssl_certificate 	{{ axelitus_nginx_ssl_cert_crt }};
	ssl_certificate_key {{ axelitus_nginx_ssl_cert_key }};

	index index.php index.html index.htm;
	charset utf-8;

	location / {
		try_files $uri $uri/ /index.php$is_args$args;
	}

	location = /favicon.ico { log_not_found off; access_log off; }
	location = /robots.txt { log_not_found off; access_log off; }

	client_max_body_size 100m;

	location ~ \.php$ {
		try_files $uri =404;
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		fastcgi_pass unix:/run/php/php7.0-fpm.sock;
		fastcgi_index index.php;
		include fastcgi_params;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param SCRIPT_NAME $fastcgi_script_name;
		fastcgi_intercept_errors off;
		fastcgi_buffer_size 16k;
		fastcgi_buffers 4 16k;
		fastcgi_read_timeout 300;
	}

	location ~ /\.ht {
		deny all;
	}
}